/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Ubuntu', sans-serif;
}

#contact button {
	color: white;
	font-weight: normal;
	background-color: black;
	border-radius: 50px;
}	